<template>
    <div>
        <div class="line-bottom pb-2">
            <span class="row flex align-content-bottom align-items-center">
                <div class="col-md-8">
                    <input type="text" v-model="release_note.title" placeholder="Title" class="display-4 col-md-12">
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" name="button" @click="save()" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              v-if="loading"></span>
                        <span v-else>
                            Save
                        </span>
                    </button>
                </div>
            </span>
        </div>

        <div class="row">
            <div class="col-12 my-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class id="codex-editor"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import EditorJS from '@editorjs/editorjs';
    import Paragraph from '@editorjs/paragraph';
    import SimpleImage from '@editorjs/simple-image';
    import Header from '@editorjs/header';
    import List from '@editorjs/list';
    import axios from 'axios';

    export default {
        name: "ReleaseNotesEditor",

        props: [
            'model'
        ],

        data() {
            return {
                loading: true,
                value: null,
                release_note: {
                    title: '',
                    body: {},
                },
                isCreate: true,
            };
        },

        mounted() {
            this.model = JSON.parse(this.model);
            console.log(this.model);
            if (this.model && this.model.hasOwnProperty('id')) {
                this.release_note = this.model;
                this.isCreate = false;
            }

            this.initEditor();
            this.loading = false;
        },

        methods: {
            initEditor: function () {
                window.editor = new EditorJS({
                    holder: "codex-editor",
                    autofocus: true,
                    /**
                     * This Tool will be used as default
                     */
                    initialBlock: "paragraph",
                    tools: {
                        header: Header,
                        paragraph: Paragraph,
                        list: List,
                        image: SimpleImage,
                    },
                    data: this.release_note.body,
                    onReady: function () {
                        // console.log("ready");
                    },
                    onChange: function () {
                        // console.log("change");
                    }
                });
            },
            save() {
                this.loading = true;
                let url = '/release_notes';
                if (!this.isCreate) {
                    url += `/${this.release_note.id}`;
                }

                editor.save()
                    .then(savedData => {
                        axios.post(url, {
                            title: this.release_note.title,
                            body: savedData,
                        })
                            .then((response) => {
                                if (this.isCreate) {
                                    window.location.href = `${window.Ziggy.baseUrl}/release_notes/${response.data.id}`;
                                }

                                this.$snotify.success('Saved', 'Success!', {
                                    timeout: 500,
                                    closeOnClick: true
                                });
                            });
                    });

                this.loading = false;
            }
        }
    }
</script>

<style scoped>

</style>